@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'falling'; 
  src: url('../public/fonts/Falling.ttf'); 
}

@font-face {
  font-family: 'poppins-bold'; 
  src: url('../public/fonts/Poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: 'roboto'; 
  src: url('../public/fonts/RobotoMono.ttf'); 
}

@font-face {
  font-family: 'roboto-bold'; 
  src: url('../public/fonts/RobotoMono-Bold.ttf'); 
}

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  min-width: 1060px;

  /* Image de fond */
  background-image: url('../public/img/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* Surimpression de couleur sombre */
  background-color: rgba(0, 0, 0, 0.5); /* Noir avec 50% d'opacité */
}

#header {
  font-family: 'poppins-bold', 'falling';
  backdrop-filter: blur(5px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 20px;
  min-width: 1060px;
}

header {
  width: 80%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px; 
}

#navbar a {
  text-decoration: none;
  position: relative; 
}

header a:hover {
  text-decoration: none; 
}

header h1 {
  position: relative;
}

header a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0; 
  width: 0; 
  height: 3px; 
  background-color: rgba(255, 213, 0, 0.5);
  transition: width 0.3s ease; 
}

header a:hover::after {
  width: 100%; 
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#container {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;  
  text-align: center;
}

.main-container {
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 15px;
  margin: 30px 0;
  padding: 10px 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

.main-container:hover {
  border: 2px solid rgba(255, 255, 255);
  box-shadow: 0 0 20px rgba(255, 213, 0, 0.5);
}

#container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

#container p {
  text-align: justify;
}

#container p .highlight {
  background-color: rgba(255, 213, 0, 0.5);
  /* color: rgb(195, 0, 255); */
  border-radius: 5px;
  padding: 0 5px;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* Ajustez cette valeur selon l'amplitude souhaitée */
  }
}

.opento {
  border: 2px solid rgb(88, 230, 88);
  border-radius: 18px;
  background-color: rgba(88, 230, 88, 0.5);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto;
  margin-bottom: 30px;
  padding: 5px 10px;
  display: inline-block;
  animation: moveUpDown 2s ease-in-out infinite; /* Durée de l'animation et répétition infinie */
}


.post {
  background-color: rgba(255, 213, 0, 0.5);
  /* color: rgb(255, 165, 0); */
  border-radius: 15px;
  padding: 0 10px;
}

#head-container {
  display: flex;
  justify-content: space-between;
}

#head-container h1 {
  font-weight: bold;
  font-size: 40px;
}

#head-container p {
  font-weight: bold;
  font-size: 30px;
}

#head-container .Image {
  height: 200px;
  width: auto;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -50px;
}

.text {
  margin-bottom: 40px;
}

#sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  height: 100%;
}

#sections div {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 25%;
  /* height: 200px; */
  transition: all 0.5s;
  font-weight: bold;
  font-size: 20px;
}

#sections div:hover {
  transform: scale(1.1);
  font-size: 30px;
}

#sections Link {
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

#sections .Image {
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
} 

#sections .container {
  position: relative;
  color: white;
}

.link {
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  backdrop-filter: blur(5px);
  z-index: 1;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 15px;
  border: 0.5px solid;
}

.link::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  pointer-events: none;
  transition: border 0.3s ease-in-out;
}

.link:hover::before {
  border: 2px solid rgba(255, 255, 255, 0.8); /* Bordure plus prononcée au survol */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Ombre au survol */
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(36, 36, 36, 0.5);
  backdrop-filter: blur(5px);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
  min-width: 1060px;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
