@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@font-face {
  font-family: 'falling'; 
  src: url('../public/fonts/Falling.ttf'); 
}

@font-face {
  font-family: 'poppins-bold'; 
  src: url('../public/fonts/Poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: 'roboto'; 
  src: url('../public/fonts/RobotoMono.ttf'); 
}

@font-face {
  font-family: 'roboto-bold'; 
  src: url('../public/fonts/RobotoMono-Bold.ttf'); 
}

body {
  /* color: #0091ff; */
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  min-width: 400px;
  background-color: #1a1a1a;
}

#header {
  font-family: 'poppins-bold', 'falling';
  backdrop-filter: blur(5px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 20px;
}

header {
  width: 80%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px; 
}

#navbar a {
  text-decoration: none;
  position: relative; 
}

#navbar a:hover {
  text-decoration: none; 
}

#navbar h1:hover {
  text-decoration: none; 
}

#navbar a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #0091ff;
  transition: width 0.3s ease; 
}

#navbar h1::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #0091ff;
  transition: width 0.3s ease; 
}


#navbar a:hover::after {
  width: 100%; 
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#container {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 100px; 
}

.pageDivider {
  width: 80%;
  border: 1px solid #0091ff;
  margin: auto;
  margin-bottom: 40px;
}

#container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

#container p {
  margin-bottom: 40px;
  text-align: justify;
}

#container p span {
  font-family: 'roboto-bold';
  color: #0091ff;
}

#head-container {
  display: flex;
  justify-content: space-between;
}

#head-container h1 {
  font-weight: bold;
  font-size: 40px;
}

#head-container p {
  font-weight: bold;
  font-size: 30px;
}

#head-container .Image {
  height: 200px;
  width: auto;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -50px;
}

#sections {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

#sections div {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 25%;
  height: 200px;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 20px;
}

#sections div:hover {
  transform: scale(1.1);
  font-size: 30px;
}

#sections Link {
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

#sections .Image {
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

#sections .container {
  position: relative;
  color: white;
}

#sections .link {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(86, 86, 86, 0.432);
  z-index: 1;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 10px;
}

#sections .image {
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.network-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  margin-bottom: 50px;
}

#net-container {
    position: relative;
    height: 150px;
    width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(36, 36, 36);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
