@font-face {
    font-family: 'poppins-bold'; 
    src: url('../../public/fonts/Poppins/Poppins-Bold.ttf'); 
}
  
.mainContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'roboto-bold';
    text-align: left;
}

.h1 {
    font-size: 40px;
    font-family: 'roboto-bold';
}

.h2 {
    font-size: 20px;
}

.skillContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.techSkillContainer {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    backdrop-filter: blur(5px);
    padding: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.3s;
}

.techSkillContainer:hover {
  border: 2px solid rgba(255, 255, 255);
  box-shadow: 0 0 20px rgba(255, 213, 0, 0.5);
}

.areaContainer {
    margin-bottom: 20px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    padding: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.3s;
}

.areaContainer:hover {
  border: 2px solid rgba(255, 255, 255);
  box-shadow: 0 0 20px rgba(255, 213, 0, 0.5);
}

.h3 {
    font-family: 'roboto-bold';
    color: rgb(255, 213, 0);
    text-align: left;
}

.container {
    display: flex;
    align-items: center;
    position: relative; 
    /* background-color: #2a2a2a; */
    /* background-color: rgb(42, 42, 42, 0.5); */
    /* backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */
}

.abcontainer {
    border-radius: 0 15px 15px 0;
    backdrop-filter: blur(5px);
    /* background-color: rgb(42, 42, 42, 0.5); */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
  
.border {
    width: 5px;
    height: 100%;
    background-color: rgba(255, 213, 0);
    position: absolute; 
    left: 0; 
}

.content {
    margin: 0 15px; 
    padding: 20px;
    border-bottom: 2px dashed #ffffff;
}

.title {
    display: flex;
    align-items: center;
    font-family: 'roboto-bold';
    font-size: 30px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 213, 0);
    margin-right: 5px;
    position: absolute; 
    left: -7.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerCircle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    /* background-color: #1a1a1a; */
    background-color: rgb(42, 42, 42, 0.5);
    backdrop-filter: blur(5px);
}

.description {
    margin-top: 20px;
    transition: transform 0.3s;
}

.description h3 {
    font-size: 30px;
}

.description:hover {
    transform: translateX(30px);
}

.skill {
    background-color: rgba(255, 213, 0, 0.5);
    border-radius: 5px;
    padding: 0 5px;
}

.date {
    background-color: rgb(211, 211, 211, 0.5);
    border-radius: 5px;
    padding: 0 5px;
}

.post {
    background-color: rgba(0, 247, 255, 0.5);
    border-radius: 5px;
    padding: 0 5px;
}

.highlight {
    background-color: rgba(255, 213, 0, 0.5);
    border-radius: 5px;
    padding: 0 5px;
}